body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c08686;
}

header {
    background-color: #333;
    color:#f5e3e3;
    padding: 1em;
    text-align: center;
}

nav a {
    color: rgb(238, 225, 221);
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: center;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    border: 1px solid #a2d1d4;
    padding: 1em;
    margin: 1em;
    width: 30%;
    background-color: rgb(135, 169, 197);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #201d1d;
    color: #ebdada;
    padding: 1em;
    text-align: center;
}
